<div class="row">
    <div class="col-6">
        <button class="btn btn-primary btn-block" (click)="addBag()">Agregar bolsa</button>
    </div>
    <div class="col-6">
        <button class="btn btn-danger btn-block" (click)="deleteBag()">Eliminar bolsa</button>
    </div>
</div>

<div class="row">
    <div *ngFor="let bag of bags" class="col-md-4 col-sm-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ bag.name }}</h5>
                <p class="card-text">{{ bag.descripcion }}.</p>
                <a [routerLink]="['/cards', bag.id]" routerLinkActive="router-link-active" class="btn btn-primary">{{ bag.price }}</a>
            </div>
        </div>
    </div>
</div>